<% layout('layouts/mentorBoilerplate') %>


    <h4>Welcome, <%=mentor.name%>
    </h4>
    <hr>
    <div class="row">
        <div class="col-6">
            <div class="card shadow-sm p-2 mb-3 bg-body rounded">
                <img class="card-img-top"
                    src="https://images.pexels.com/photos/3771089/pexels-photo-3771089.jpeg?auto=compress&cs=tinysrgb&w=600"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= mentor.name %>
                    </h5>

                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-muted">
                        Department: <%= mentor.department %>
                    </li>
                    <li class="list-group-item text-muted">
                        Email: <%= mentor.email%>
                    </li>

                </ul>
                <div>
                    <button type="button" class="btn btn-warning btn-lg  m-2" data-bs-toggle="modal"
                        data-bs-target="#mentorDetails">
                        Edit
                    </button>
                </div>
                <!-- Modal To Add Marks -->
                <div class="modal fade" id="mentorDetails" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="subjectName">
                                    Edit Details

                                </h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">

                                <!--Form to edit details-->
                                <form action="/mentorship/mentor/<%=mentor._id%>?_method=PUT" method="POST"
                                    class="validated-form" novalidate>
                                    <div class="mb-3">
                                        <label for="name" class="form-label lead">Name</label>
                                        <input type="text" class="form-control" id="name" name="mentor[name]"
                                            value="<%=mentor.name%>">
                                        <div class="valid-feedback">Looks Good!</div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="email" class="form-label lead">Email</label>
                                        <input type="email" class="form-control" name="mentor[email]" id="email"
                                            value="<%=mentor.email%>">
                                        <div class="valid-feedback">Looks Good!</div>
                                    </div>

                                    <div class="mb-3">
                                        <label for="dept" class="form-label lead">Department</label>
                                        <input type="text" class="form-control" name="mentor[department]" id="dept"
                                            value="<%=mentor.department%>">
                                        <div class="valid-feedback">Looks Good!</div>
                                    </div>

                                    <button type="submit" class="btn btn-success">Save
                                        changes</button>

                                </form>
                                <!--Form ends-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
