<% layout('layouts/mentorBoilerplate') %>



    <div class="row">
        <div class="col-6 menteeHead">
            <% if(program=='All' ){ %>
                <h2>Registered Students</h2>
                <%}else { %>
                    <h2>Registered <%=program%> Students</h2>
                    <% } %>
        </div>

        <div class="col-6">
            <form action="/mentorship/mentor/<%=mentor._id%>/mentees" method="POST" class="validated-form" novalidate>
                <div class="d-flex">
                    <select class="form-select mb-3" name="filter[program]" aria-label="select">
                        <option value="All" selected>All</option>
                        <option value="B.Tech">BTech</option>
                        <option value="M.Tech">M.Tech</option>
                        <option value="MCA">MCA</option>
                    </select>
                    <div class="valid-feedback">Looks Good!</div>
                    <button type="submit" class="btn btn-success  mx-2 mb-3">Filter</button>

                </div>
            </form>
        </div>


    </div>
    <hr>
    <div class="row">
        <% for (let student of studentFilter) {%>

            <div class="col-md-6 my-1">
                <div class="card shadow-sm p-2 mb-3 bg-body rounded">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%=student.name%>
                        </h5>
                        <details class="card-text lead">
                            <b> Program: </b>
                            <%=student.program%> <br>
                                <b>Roll Number:</b>
                                <%=student.rollno%>
                                    <br>
                                    <b>Semester:</b>
                                    <%=student.currentSemester%>

                        </details>
                    </div>
                    <div class="d-flex">
                        <a href="/mentorship/mentor/<%=mentor._id%>/mentees/<%=student._id%>"
                            class="card-link btn btn-primary m-2">Details</a>
                        <button type="button" class="btn btn-primary  m-2" data-bs-toggle="modal"
                            data-bs-target="#setMeeting<%=student.name.replace(/\s/g, "")%>">
                            Set Meeting
                        </button>

                        <button type="button" class="btn btn-primary  m-2" data-bs-toggle="modal"
                            data-bs-target="#Meeting<%=student.name.replace(/\s/g, "")%>">
                            Meetings
                        </button>
                    </div>

                    <!-- Modal for setting meeting -->
                    <div class="modal fade" id="setMeeting<%=student.name.replace(/\s/g, "")%>" tabindex="-1"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="subjectName">
                                        <small>
                                            <%=student.name%>
                                        </small>

                                    </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form action="/mentorship/mentor/<%=mentor._id%>/mentees/meeting/<%=student._id%>"
                                        method="POST" class="validated-form" novalidate>
                                        <div class="mb-3">
                                            <label for="date" class="form-label lead">Date
                                            </label>
                                            <input type="datetime-local" class="form-control" id="date"
                                                name="meeting[date]" required>

                                        </div>

                                        <div class="mb-3">
                                            <label for="topic" class="form-label lead">Meeting Topic</label>
                                            <input type="text" class="form-control" name="meeting[agenda]" id="topic"
                                                required>
                                            <div class="valid-feedback">Looks Good!</div>
                                        </div>
                                        <button type="submit" class="att btn btn-primary">Set Meeting</button>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Modal for setting meetings ends-->
                    <!-- Modal for meetings -->
                    <div class="modal fade" id="Meeting<%=student.name.replace(/\s/g, "")%>" tabindex="-1"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="subjectName">
                                        <small>
                                            <%=student.name%>
                                        </small>

                                    </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>

                                <div class="modal-body">

                                    <% for(let meet of meetingFilter){ %>
                                        <%if(student._id.equals(meet.mentee)){%>
                                            <div class="card m-2">
                                                <% var dateTime=new Date(meet.date)%>
                                                    <% var hours=dateTime.getHours()%>
                                                        <% var minutes=dateTime.getMinutes()%>
                                                            <% var date=dateTime.getDate()%>
                                                                <% var month=dateTime.getMonth()%>
                                                                    <% var year=dateTime.getFullYear()%>
                                                                        <div
                                                                            class="card-header d-flex justify-content-between">
                                                                            <div>
                                                                                Time: <%=hours%>:<%=minutes%>
                                                                                        Date: <%=date%>
                                                                                            <%=month+1%>
                                                                                                <%=year%>
                                                                            </div>
                                                                            <div>
                                                                                <% if(meet.completed==true ) {%>
                                                                                    <i class="fa-regular fa-circle-check fa-xl"
                                                                                        style="color: #32bb30;"></i>

                                                                                    <%}else {%>

                                                                                        <i class="fa-regular fa-clock fa-xl"
                                                                                            style="color: #edc80c;"></i>
                                                                                        <%}%>
                                                                            </div>
                                                                        </div>
                                                                        <div class="card-body">
                                                                            <h5 class="card-title">
                                                                                <%=meet.agenda%>
                                                                            </h5>
                                                                            <p class="card-text lead">
                                                                                <%=meet.minutesOfMeeting%>
                                                                            </p>


                                                                        </div>
                                            </div>
                                            <%}%>
                                                <%}%>


                                </div>

                            </div>
                        </div>
                    </div>
                    <!--Modal for setting meetings ends-->


                </div>
            </div>
            <% } %>


    </div>
