<% layout('layouts/boilerplate') %>

    <div class="row">
        <div class="col-sm-6 ">
            <h2>Mentor</h2>
            <hr>
            <div class="card shadow-sm p-2 mb-3 bg-body rounded">
                <img class="card-img-top"
                    src="https://images.unsplash.com/photo-1607990281513-2c110a25bd8c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8cHJvZmVzc29yfGVufDB8fDB8fHww&auto=format&fit=crop&w=600&q=60"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= mentor.name %>
                    </h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item text-muted">

                            Department :
                            <%= mentor.department %>

                        </li>
                        <li class="list-group-item text-muted">
                            Email:
                            <%= mentor.email %>

                        </li>
                    </ul>
                </div>
                <div class="card-body">


                    <div>
                        <!-- Button trigger modal to delete -->

                        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#askDeleteMentor">
                            Delete
                        </button>
                        <!-- Button trigger modal to edit -->

                        <button type="button" class="btn btn-warning btn-lg  m-2" data-bs-toggle="modal"
                            data-bs-target="#mentorDetails">
                            Edit
                        </button>
                        <a href="/mentorship/admin/mentors/<%=mentor._id%>/students"
                            class="card-link btn btn-primary m-2">Add
                            Mentees</a>
                    </div>

                </div>
                <!-- Modal -->
                <div class="modal fade" id="askDeleteMentor" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Delete <%=mentor.name%> data?</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>Are you sure you want to delete this data completely from database?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <form class="d-inline" action="/mentorship/admin/mentors/<%=mentor._id%>?_method=DELETE"
                                    method="POST">
                                    <button class="btn btn-danger">DELETE</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal To ask to delete-->
                <div class="modal fade" id="mentorDetails" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="subjectName">
                                    Edit Details

                                </h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">

                                <!--Form to edit mentor details-->
                                <form action="/mentorship/admin/mentor/<%=mentor._id%>?_method=PUT" method="POST"
                                    class="validated-form" novalidate>
                                    <div class="mb-3">
                                        <label for="name" class="form-label lead">Name</label>
                                        <input type="text" class="form-control" id="name" name="mentor[name]"
                                            value="<%=mentor.name%>">
                                        <div class="valid-feedback">Looks Good!</div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="email" class="form-label lead">Email</label>
                                        <input type="email" class="form-control" name="mentor[email]" id="email"
                                            value="<%=mentor.email%>">
                                        <div class="valid-feedback">Looks Good!</div>
                                    </div>

                                    <div class="mb-3">
                                        <label for="dept" class="form-label lead">Department</label>
                                        <input type="text" class="form-control" name="mentor[department]" id="dept"
                                            value="<%=mentor.department%>">
                                        <div class="valid-feedback">Looks Good!</div>
                                    </div>

                                    <button type="submit" class="btn btn-success">Save
                                        changes</button>

                                </form>
                                <!--Form ends-->
                            </div>
                        </div>
                    </div>
                </div>
                <a class="btn btn-secondary" href="/mentorship/admin/mentors">Back to Mentors</a>

            </div>
        </div>
        <div class="col-sm-6">
            <% if (mentor.mentees.length) {%>
                <h2>Current Mentees</h2>
                <% for(let mentee of mentor.mentees) {%>
                    <div class="card shadow-sm p-2 mb-3 bg-body rounded">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= mentee.name %>
                            </h5>
                            <details class="mb-3">
                                <b> Program: </b>
                                <%=mentee.program%> <br>
                                    <b>Roll Number:</b>
                                    <%=mentee.rollno%>
                                        <br>
                                        <b>Semester:</b>
                                        <%=mentee.currentSemester%>
                            </details>
                            <form
                                action="/mentorship/admin/mentors/<%=mentor._id%>/students/<%=mentee._id%>?_method=DELETE"
                                method="POST">
                                <button class="btn btn-sm btn-danger">Delete</button>
                            </form>

                        </div>
                    </div>

                    <% } %>
        </div>
        <%}%>
    </div>
