<% layout('layouts/boilerplate') %>

    <div class="row">
        <div class="col-md-6">
            <div class="card shadow-sm p-2 mb-3 bg-body rounded">
                <img class="card-img-top"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBl1Blk-Lch1VjDGsKOozVBEyHborb1_VcKtEJ6h_Fzpi49NHt_yLXvfTTP54OVhKYjCc&usqp=CAU"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= student.name %>
                    </h5>
                    <p class="card-text">
                        <%= student.rollno %>
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-muted">
                        Semester : <%= student.currentSemester %> |
                            Program : <%= student.program %>


                    </li>
                    <li class="list-group-item text-muted">
                        Gsuite Id: <%=student.email%>
                    </li>
                </ul>
                <div class="card-body">
                    <a href="" class="card-link btn btn-info">Edit</a>
                    <form class="d-inline" action="/mentorship/admin/students/<%=student._id%>?_method=DELETE"
                        method="POST">
                        <button class="btn btn-danger">DELETE</button>
                    </form>
                </div>
                <a class="btn btn-warning" href="/mentorship/admin/students">Back to Students</a>

            </div>
        </div>
    </div>
