<% layout('layouts/SMBoilerplate') %>



    <div class="row">
        <div class="col-5">
            <h3>Courses</h3>
        </div>
        <div class="col-7">
            <div class="row">
                <div class="col-3 border text-muted m-2 p-2 small align-self-center">
                    Semester:
                    <%=semester.semNo%>

                </div>
                <div class="col-4 border text-muted  m-2 p-2 small align-self-center">
                    Program:
                    <%=semester.program%>

                </div>
                <div class="col-2 border text-muted m-2 p-2 small align-self-center">
                    <%=semester.department%>

                </div>
            </div>
        </div>

    </div>
    <hr>
    <div class="row">
        <div class="col-sm-9">
            <div class="m-3">
                <h3 class="head">Courses Registered(semester: <%=semester.semNo%>)</h3>
            </div>
            <% for(let subject of student.subjects) { %>
                <% if(subject.semNo==semester.semNo){ %>
                    <div class="card shadow-sm p-2 mb-3 bg-body rounded">
                        <div class="card-body">
                            <h5 class="card-title">Title: <%=subject.subName%>
                            </h5>

                            <div class="row">
                                <div class="col-2 border text-muted m-2 p-2 small align-self-center">

                                    <%=subject.subCode%>

                                </div>
                                <div class="col-2 border text-muted  m-2 p-2 small align-self-center">
                                    Credit:
                                    <%=subject.credit%>

                                </div>
                                <div class="col-2 border text-muted m-2 p-2 small align-self-center">
                                    Lab credit:
                                    <%=subject.labCredit%>

                                </div>
                            </div>


                            <form class="m-2"
                                action="/mentorship/student/<%=student._id%>/addSubjects/<%=semester._id%>/<%=subject._id%>?_method=DELETE"
                                method="POST">
                                <button type="submit" class="btn btn-danger m-2">Remove</button>
                                <!--A popup menu appears to add marks-->

                                <!-- Button trigger modal -- Modal Add-->
                                <button type="button" class="btn btn-primary btn-block" data-bs-toggle="modal"
                                    data-bs-target="#marks<%=subject.subName.replace(/\s/g, "")%>">
                                    Add Marks
                                </button>
                                <!-- Button trigger modal -- Modal view -->
                                <button type="button" class="btn btn-primary btn-block m-2" data-bs-toggle="modal"
                                    data-bs-target="#marksDetails<%=subject.subName.replace(/\s/g, "")%>">
                                    View Marks
                                </button>
                                <button type="button" class="btn btn-primary btn-block m-2" data-bs-toggle="modal"
                                    data-bs-target="#attendance<%=subject.subName.replace(/\s/g, "")%>">
                                    Attendance
                                </button>
                            </form>

                            <!--Modals for Adding and Viewing marks begin-->

                            <!-- Modal for attendance -->
                            <div class="modal fade" id="attendance<%=subject.subName.replace(/\s/g, "")%>" tabindex="-1"
                                aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="subjectName">
                                                <small>
                                                    <%=subject.subName%>
                                                </small> (Till now:
                                                <em class="lead">
                                                    <%=subject.attendancePercent%>%
                                                </em> )

                                            </h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form
                                                action="/mentorship/student/<%=student._id%>/addSubjects/<%=subject._id%>"
                                                method="POST" class="validated-form" novalidate>
                                                <div class="mb-3">
                                                    <label for="classTillNow" class="form-label lead">Total
                                                        Classes
                                                        (till now)
                                                    </label>
                                                    <input type="number" class="form-control" id="classTillNow"
                                                        name="attend[total]">
                                                    <div class="valid-feedback">Looks Good!</div>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="classAttended" class="form-label lead">Total
                                                        Classes (You attended)</label>
                                                    <input type="number" class="form-control" name="attend[attended]"
                                                        id="classAttended">
                                                    <div class="valid-feedback">Looks Good!</div>
                                                </div>
                                                <button type="submit" class="att btn btn-primary">Save
                                                    changes</button>
                                            </form>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Modal To Add Marks -->
                            <div class="modal fade" id="marks<%=subject.subName.replace(/\s/g, "")%>" tabindex="-1"
                                aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="subjectName">
                                                <%=subject.subName%>

                                            </h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">

                                            <!--Form to submit marks-->
                                            <form
                                                action="/mentorship/student/<%=student._id%>/addSubjects/<%=semester._id%>/<%=subject._id%>?_method=PUT"
                                                method="POST" class="validated-form" novalidate>
                                                <div class="mb-3">
                                                    <label for="sess1" class="form-label lead">Sessional
                                                        1</label>
                                                    <input type="number" class="form-control" id="sess1"
                                                        name="marks[sess1]" value="<%=subject.sess1%>">
                                                    <div class="valid-feedback">Looks Good!</div>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="midterm" class="form-label lead">Mid
                                                        Term</label>
                                                    <input type="number" class="form-control" name="marks[midterm]"
                                                        id="midterm" value="<%=subject.midterm%>">
                                                    <div class="valid-feedback">Looks Good!</div>
                                                </div>

                                                <div class="mb-3">
                                                    <label for="sess2" class="form-label lead">Sessional
                                                        2</label>
                                                    <input type="number" class="form-control" name="marks[sess2]"
                                                        id="sess2" value="<%=subject.sess2%>">
                                                    <div class="valid-feedback">Looks Good!</div>
                                                </div>


                                                <div class="mb-3">
                                                    <label for="endterm" class="form-label lead">End
                                                        Term</label>
                                                    <input type="number" class="form-control" name="marks[endterm]"
                                                        id="endterm" value="<%=subject.endterm%>">
                                                    <div class="valid-feedback">Looks Good!</div>
                                                </div>


                                                <div class="mb-3">
                                                    <label for="grade" class="form-label lead">Grade</label>
                                                    <input type="text" class="form-control" name="marks[grade]"
                                                        id="grade" value="<%=subject.grade%>">
                                                    <div class="valid-feedback">Looks Good!</div>
                                                </div>

                                                <button type="submit" class="btn btn-primary">Save
                                                    changes</button>

                                            </form>
                                            <!--Form ends-->
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <!-- Modal To See Marks -->
                            <div class="modal fade" id="marksDetails<%=subject.subName.replace(/\s/g, "")%>"
                                tabindex="-1" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="subjectName">
                                                <%=subject.subName%>

                                            </h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div>
                                                <div class="mb-3">
                                                    <label for="sess1" class="form-label lead">Sessional
                                                        1</label>
                                                    <input type="number" class="form-control" id="sess1"
                                                        name="marks[sess1]" value="<%=subject.sess1%>" disabled>
                                                    <div class="valid-feedback">Looks Good!</div>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="midterm" class="form-label lead">Mid
                                                        Term</label>
                                                    <input type="number" class="form-control" name="marks[midterm]"
                                                        id="midterm" value="<%=subject.midterm%>" disabled>
                                                    <div class="valid-feedback">Looks Good!</div>
                                                </div>

                                                <div class="mb-3">
                                                    <label for="sess2" class="form-label lead">Sessional
                                                        2</label>
                                                    <input type="number" class="form-control" name="marks[sess2]"
                                                        id="sess2" value="<%=subject.sess2%>" disabled>
                                                    <div class="valid-feedback">Looks Good!</div>
                                                </div>


                                                <div class="mb-3">
                                                    <label for="endterm" class="form-label lead">End
                                                        Term</label>
                                                    <input type="number" class="form-control" name="marks[endterm]"
                                                        id="endterm" value="<%=subject.endterm%>" disabled>
                                                    <div class="valid-feedback">Looks Good!</div>
                                                </div>


                                                <div class="mb-3">
                                                    <label for="grade" class="form-label lead">Grade</label>
                                                    <input type="text" class="form-control" name="marks[grade]"
                                                        id="grade" value="<%=subject.grade%>" disabled>
                                                    <div class="valid-feedback">Looks Good!</div>
                                                </div>


                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <% } %>
                        <% } %>
        </div>
        <!--Modals for Adding and Viewing marks End-->

        <div class="col-sm-9">

            <form action="/mentorship/student/<%=student._id%>/addSubjects" method="POST" class="validated-form"
                novalidate>
                <div>
                    <label for="sem">Semester:</label>
                    <input type="number" class="form-control mb-3" id="sem" name="sem" required>
                </div>
                <button type="submit" class="btn btn-success m-2">Search</button>
            </form>

            <div class="m-3">
                <h3 class="head">Courses Available(semester: <%=semester.semNo%>)</h3>
            </div>
            <% for(let subject of semester.subjects) {%>
                <div class="card shadow-sm p-2 mb-3 bg-body rounded">
                    <div class="card-body">
                        <h5 class="card-title">Title: <%=subject.subName%>
                        </h5>
                        <p class="card-text lead">Code: <%=subject.subcode%>
                        </p>
                        <% for(let sub of student.subjects) {%>
                            <% if(sub.subCode==subject.subcode){ %>
                                <div> <em class="lead">(Added!)</em> </div>
                                <% break %>
                                    <% }%>
                                        <% } %>
                    </div>
                    <form action="/mentorship/student/<%=student._id%>/addSubjects/<%=semester._id%>/<%=subject._id%>"
                        method="POST">
                        <button class="btn btn-md btn-success">Add</button>
                    </form>

                </div>
                <% } %>


        </div>
    </div>
